business-works-5/AccountState/SharedResources/GetAccountStateConcreteWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1171610171437/GetAccountStateOperationImpl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns0="http://www.tibco.com/schemas/AccountState/SharedResources/Schema.xsd" name="Untitled" targetNamespace="http://xmlns.example.com/1171610171437/GetAccountStateOperationImpl">
    <wsdl:documentation>Concrete WSDL resource for SOAP communication with GetAccountState process, which si generated by UserName_SOAPEventSource</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.tibco.com/schemas/AccountState/SharedResources/Schema.xsd" targetNamespace="http://www.tibco.com/schemas/AccountState/SharedResources/Schema.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="Account">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:Number"/>
                        <xs:element ref="ns0:Name"/>
                        <xs:element ref="ns0:Value"/>
                        <xs:element ref="ns0:MonthIncrement"/>
                        <xs:element ref="ns0:Password"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AccountsList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:Account" maxOccurs="unbounded"/>
                    </xs:sequence>
                    <xs:attribute name="Count" use="required" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="MonthIncrement" type="xs:long"/>
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="Number" type="xs:string"/>
            <xs:element name="Password" type="xs:string"/>
            <xs:element name="Value" type="xs:long"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="GetAccountStateServiceInputMessage">
        <wsdl:documentation>Input WSDL message for process GetAccountStateService</wsdl:documentation>
        <wsdl:part name="part1" element="ns0:Name"/>
    </wsdl:message>
    <wsdl:message name="GetAccountStateServiceOutputMessage">
        <wsdl:documentation>Output WSDL message for process GetAccountStateService</wsdl:documentation>
        <wsdl:part name="part1" element="ns0:Account"/>
    </wsdl:message>
    <wsdl:portType name="GetAccountStateServicePort">
        <wsdl:documentation>WSDL port for process GetAccountStateService</wsdl:documentation>
        <wsdl:operation name="GetAccountStateOperation">
            <wsdl:documentation>WSDL operation for GetAccountStateService process</wsdl:documentation>
            <wsdl:input message="tns:GetAccountStateServiceInputMessage"/>
            <wsdl:output message="tns:GetAccountStateServiceOutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UserName_sp_SOAPEventSourceBinding" type="tns:GetAccountStateServicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetAccountStateOperation">
            <soap:operation style="document" soapAction="/ProcessDefinitions/GetAccountState/GetAccountStateService"/>
            <wsdl:input>
                <soap:body use="literal" parts="part1"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part1"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GetAccountStateService">
        <wsdl:port name="UserName_sp_SOAPEventSource" binding="tns:UserName_sp_SOAPEventSourceBinding">
            <soap:address location="http://localhost:9998/ProcessDefinitions/GetAccountState/GetAccountStateService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>