business-works-5/CalculateBonita/SharedResources/GetObligatorServiceConcreteWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1171360277608/GetObligatorServiceOperationImpl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns0="http://www.tibco.com/schemas/GrantingCredit/SharedConnections/Schema1.xsd" name="Untitled" targetNamespace="http://xmlns.example.com/1171360277608/GetObligatorServiceOperationImpl">
    <wsdl:documentation>Concrete WSDL resource for SOAP communication with GetObligator process, which is generated by ObligatorName_SOAPEventSource</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.tibco.com/schemas/GrantingCredit/SharedConnections/Schema1.xsd" targetNamespace="http://www.tibco.com/schemas/GrantingCredit/SharedConnections/Schema1.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="Obligator">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:Name"/>
                        <xs:element ref="ns0:Value"/>
                        <xs:element ref="ns0:Problem"/>
                        <xs:element ref="ns0:Refund"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ObligatorsList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:Obligator" maxOccurs="unbounded"/>
                    </xs:sequence>
                    <xs:attribute name="Count" use="required" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="Problem" type="xs:boolean"/>
            <xs:element name="Refund" type="xs:long"/>
            <xs:element name="Value" type="xs:long"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="GetObligatorServiceInputMessage">
        <wsdl:part name="part1" element="ns0:Name"/>
    </wsdl:message>
    <wsdl:message name="GetObligatorServiceOutputMessage">
        <wsdl:part name="part1" element="ns0:Obligator"/>
    </wsdl:message>
    <wsdl:portType name="GetObligatorServicePort">
        <wsdl:operation name="GetObligatorServiceOperation">
            <wsdl:input message="tns:GetObligatorServiceInputMessage"/>
            <wsdl:output message="tns:GetObligatorServiceOutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ObligatorName_sp_SOAPEventSourceBinding" type="tns:GetObligatorServicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetObligatorServiceOperation">
            <soap:operation style="document" soapAction="/ProcessDefinitions/GetObligator/GetObligatorService"/>
            <wsdl:input>
                <soap:body use="literal" parts="part1"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part1"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GetObligatorService">
        <wsdl:port name="ObligatorName_sp_SOAPEventSource" binding="tns:ObligatorName_sp_SOAPEventSourceBinding">
            <soap:address location="http://localhost:9997/ProcessDefinitions/GetObligator/GetObligatorService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>